.content1 {
  position: absolute; /* Position the background text */
  top: 200px; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
.building img {
  height: 350px;
  width: 500px;
  margin-top: 60px;
}
.building p {
  font-size: 12pt;
  font-family: Roboto, sans-serif;
  color: #585858;
  background-color: transparent;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  vertical-align: baseline;
  white-space: pre-wrap;
  word-spacing: 0.2rem;
  line-height: 2;
  margin-top: 80px;
}
.buildingp {
  font-size: 12pt;
  font-family: Roboto, sans-serif;
  color: #585858;
  background-color: transparent;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  vertical-align: baseline;
  white-space: pre-wrap;
  word-spacing: 0.2rem;
  line-height: 1.6;
  margin-top: -10px;
}
.logos p {
  text-align: center;

  margin-top: 1.5em;
}
.logos img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.but button {
  margin-left: 50%;
  font-family: "Roboto", Sans-serif;
  font-size: 19px;
  font-weight: 500;
  background-color: rgb(192, 59, 59);
  border-radius: 20px 20px 20px 20px;
  color: white;
  border-color: rgb(241, 62, 62);

  border: none;
}
 .content2 p{
   margin-top: 40px;
   margin-left: 5%;
 }
 .content2 ul{
   margin-left: 10%;
   line-height: 2.5;
 }
 .content3 p{
   margin-top: 40px;
 }
 .content4 h5{
  font-weight: 400;
  color: #800000;
  font-size: 16px;
  margin-top: 10%;
  
 }
 .content4 img {
   margin-top: 50px;
 }
 