.card {
  margin: 30px auto;
  width: 400px;
  height: 250px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgb(0 0 0 / 25%),
    -5px -5px 30px 7px rgb(0 0 0 / 22%);
  color: rgb(182, 180, 180);
  transition: 0.4s;
  text-align: center;
}
 