.content1 {
    position: absolute; /* Position the background text */
    top: 200px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
  }
  .formbackground{
    background: #fffdfd;
    padding: 20px 20px 20px 50px !important;
    margin: 0 0 2.5rem;
    transition: all 0.3s;
    /* -webkit-box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%); */
    -moz-box-shadow: 0 25px 98px 0 rgba(0,0,0,.1);
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
  }
  .map1{
      margin-top: 7%;
  }